* {
  padding: 0;
  margin: 0;
}
p {
  color: rgb(46, 17, 7);
}
.blue {
  color: rgb(0, 0, 131);
}
h1,
h2 {
  color: brown;
}
.third {
  color: yellow;
}
#fourth {
  color: cornflowerblue;
}

input[type="text"] {
  color: blueviolet;
  border: 2px solid red;
}
div h2 {
  border: 2px solid black;
}
div > span > h2 {
  color: cyan;
}
input[type="submit"] {
  border: 2px solid green;
  color: hotpink;
}
h3 + p {
  color: darkslateblue;
}
/* h4 + p {
  color: deeppink;     Adjascent sibling selector
} */
h4 ~ p {
  color: deeppink; /*   General sibling selector */
}
input[type="reset"]:hover {
  background-color: yellow;
}
input[type="text"]:hover {
  color: green;
  background-color: yellow;
}

h1::before {
  content: "⭐ ";
  color: gold;
}

/* This file is written by Codig Hero */
